body {

  display: block;
  margin: auto;

  background-color: #417D7A;
  color: #EDE6DB;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #FCF8E8;
  border-width: 5px;
  width: 5%;
}
